<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Transaction Statement</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                            <label>Select Date</label>
                            <input type="text" bsDatepicker class="form-control datepicker.dropdown-menu"
                                placeholder="Select Date">
                        </div>
                    </div>
                    <div class="col-md-4 pr-1 dateshow">
                        <p>Showing : {{statementservice.today}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Transaction Details
                                </th>
                                <th>
                                    Income
                                </th>
                                <th>
                                    Expense
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let st of statementservice.statements">
                                    <td>{{st.transactiondetails}}</td>
                                    <td>{{st.income}}</td>
                                    <td>{{st.expense}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Total Income : {{statementservice.tIncome}}</p>
                            <p>Total Expense : {{statementservice.tExpense}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>