<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Income Detials </h5>
                <p class="card-category">Add Income detials</p>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-12">
                        <form #incomeForm="ngForm" (ngSubmit)="onSubmit(incomeForm)">
                            <input type="hidden" class="form-control" name="_id" #_id="ngModel"
                                [(ngModel)]="incomeservice.selectedIncome._id">
                            <div class="row">
                                <div class="col-md-6 pr-1">
                                    <div class="form-group disable">
                                        <label>Company (disabled)</label>
                                        <input type="text" class="form-control"
                                          name="company" #company="ngModel"
                                            [(ngModel)]="incomeservice.selectedIncome.company">
                                    </div>
                                </div>
                                <div class="col-md-6 px-1">
                                    <div class="form-group">
                                        <label>Service</label>
                                        <input type="text" class="form-control" placeholder="Enter Service details"
                                            required name="service" #service="ngModel"
                                            [(ngModel)]="incomeservice.selectedIncome.service">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Bank charge</label>
                                        <input type="number" class="form-control" placeholder="Enter Bank Charge"
                                            value=0 name="bankcharge" #bankcharge="ngModel"
                                            [(ngModel)]="incomeservice.selectedIncome.bankcharge">
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Service Charge</label>
                                        <input type="number" class="form-control" placeholder="Enter Service Charge"
                                            value=0 required name="servicecharge" #company="ngModel"
                                            [(ngModel)]="incomeservice.selectedIncome.servicecharge">
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Bank Service Charge (if any)</label>
                                        <input type="number" class="form-control"
                                            placeholder="Enter Bank Service Charge" value=0 name="bankservicecharge" #bankservicecharge="ngModel"
                                            [(ngModel)]="incomeservice.selectedIncome.bankservicecharge">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="update ml-auto mr-auto">
                                    <button type="submit" [disabled]="!incomeForm.valid" class="btn btn-primary btn-round">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-history"></i> Updated 3 minutes ago
                </div>
            </div> -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Income Table</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                            <label>Select Date</label>
                            <input type="text" bsDatepicker class="form-control datepicker.dropdown-menu"
                                placeholder="Select Date">
                        </div>
                    </div>
                    <div class="col-md-4 pr-1 dateshow">
                        <p>Showing : </p>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Service Details
                                </th>
                                <th>
                                    Bank Charge
                                </th>
                                <th>
                                    Service Charge
                                </th>
                                <th>
                                    Bank Service Charge (if any)
                                </th>
                                <th class="text-right">
                                    Action
                                </th>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Total Bank Charge : </p>
                            <p>Total Service Charge : </p>
                            <p>Total Bank Service Charge : </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>