<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Income Detials </h5>
                <p class="card-category">Add Income detials</p>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="card-subtitle mb-2 text-muted">Akshaya Paral</h4>
                        <form #incomeForm="ngForm" (ngSubmit)="incomeForm.valid && onSubmit(incomeForm)">
                            <input type="hidden" class="form-control" name="_id" #name="ngModel"
                                [(ngModel)]="incomeservice.selectedIncome._id">
                            <div class="row">
                                <div class="col-md-4 px-1">
                                    <div class="form-group">
                                        <label>Service</label>
                                        <input type="text" class="form-control" placeholder="Enter Service details"
                                            required name="service" #service="ngModel"
                                            [(ngModel)]="incomeservice.selectedIncome.service">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Bank charge</label>
                                        <input type="number" class="form-control" placeholder="Enter Bank Charge"
                                            name="bankcharge" #bankcharge="ngModel" value=0
                                            [(ngModel)]="incomeservice.selectedIncome.bankcharge">
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Service Charge</label>
                                        <input type="number" class="form-control" placeholder="Enter Service Charge"
                                            required name="servicecharge" #company="ngModel" value=0
                                            [(ngModel)]="incomeservice.selectedIncome.servicecharge">
                                    </div>
                                </div>
                                <div class="col-md-4 pl-1">
                                    <div class="form-group">
                                        <label>Bank Service Charge (if any)</label>
                                        <input type="number" class="form-control"
                                            placeholder="Enter Bank Service Charge" name="bankservicecharge" value=0
                                            #bankservicecharge="ngModel"
                                            [(ngModel)]="incomeservice.selectedIncome.bankservicecharge">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="update ml-auto mr-auto">
                                    <button type="submit" [disabled]="!incomeForm.valid"
                                        class="btn btn-primary btn-round">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-history"></i> Updated 3 minutes ago
                </div>
            </div> -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Income Table</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                            <label>Select Date</label>
                            <input type="text" name="date" datetime="yyyy-MM-dd HH:mm:ss" #date="ngModel"
                                [(ngModel)]="incomeservice.date" bsDatepicker
                                class="form-control datepicker.dropdown-menu" placeholder="Select Date">
                        </div>
                    </div>
                    <div class="col-md-4 pr-1">
                        <div class="update ml-auto mr-auto datebutton">
                            <button type="button" (click)="onDate(incomeservice.date)" class="btn btn-primary btn-round">Save</button>
                        </div>
                    </div>
                    <div class="col-md-4 pr-1">
                        <p>Showing : {{incomeservice.today}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Service Details
                                </th>
                                <th>
                                    Bank Charge
                                </th>
                                <th>
                                    Service Charge
                                </th>
                                <th>
                                    Bank Service Charge (if any)
                                </th>
                                <th class="text-right">
                                    Action
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let inc of incomeservice.incomes">
                                    <td>{{inc.service}}</td>
                                    <td>{{inc.bankcharge}}</td>
                                    <td>{{inc.servicecharge}}</td>
                                    <td>{{inc.bankservicecharge}}</td>
                                    <td class="text-right">
                                        <a class="btn btn-outline-info btn-sm" (click)="onEdit(inc)">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                                        </a>&nbsp;
                                        <a class="btn btn-outline-danger btn-sm" (click)="onDelete(inc._id,incomeForm)">
                                            <i class="fa fa-trash" aria-hidden="true"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Total Bank Charge : {{incomeservice.tbc}}</p>
                            <p>Total Service Charge : {{incomeservice.tsc}}</p>
                            <p>Total Bank Service Charge : {{incomeservice.tbsc}}</p>
                            <p>Total Income on {{incomeservice.today}} : {{incomeservice.tinc}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>