<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header ">
                <h5 class="card-title">Income Detials </h5>
                <p class="card-category">Add Income detials</p>
            </div>
            <div class="card-body ">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="card-subtitle mb-2 text-muted">Akshaya Paral</h4>
                        <form #expenseForm="ngForm" (ngSubmit)="expenseForm.valid && onSubmit(expenseForm)">
                            <input type="hidden" class="form-control" name="_id" #name="ngModel"
                                [(ngModel)]="expenseservice.selectedExpense._id">
                            <div class="row">
                                <div class="col-md-4 px-1">
                                    <div class="form-group">
                                        <label>Expense Reason</label>
                                        <input type="text" class="form-control" placeholder="Enter Expense Reason"
                                            required name="expensereason" #expensereason="ngModel"
                                            [(ngModel)]="expenseservice.selectedExpense.expensereason">
                                    </div>
                                </div>


                                <div class="col-md-4 pr-1">
                                    <div class="form-group">
                                        <label>Amount</label>
                                        <input type="number" class="form-control" placeholder="Enter Amount"
                                            name="amount" #amount="ngModel" value=0
                                            [(ngModel)]="expenseservice.selectedExpense.amount">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="update ml-auto mr-auto">
                                    <button type="submit" [disabled]="!expenseForm.valid"
                                        class="btn btn-primary btn-round">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-history"></i> Updated 3 minutes ago
                </div>
            </div> -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Expense Table</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4 pr-1">
                        <div class="form-group">
                            <label>Select Date</label>
                            <input type="text" bsDatepicker class="form-control datepicker.dropdown-menu"
                                placeholder="Select Date">
                        </div>
                    </div>
                    <div class="col-md-4 pr-1 dateshow">
                        <p>Showing : {{expenseservice.today}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    Expense Details
                                </th>
                                <th>
                                    Amount
                                </th>
                                <th class="text-right">
                                    Action
                                </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let exp of expenseservice.expenses">
                                    <td>{{exp.expensereason}}</td>
                                    <td>{{exp.amount}}</td>
                                    <td class="text-right"> 
                                        <a class="btn btn-outline-info btn-sm"(click)="onEdit(exp)">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit
                                        </a>&nbsp;
                                        <a class="btn btn-outline-danger btn-sm" (click)="onDelete(exp._id,expenseForm)">
                                            <i class="fa fa-trash" aria-hidden="true"></i> Delete
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <div class="row">
                        <div class="col-md-4">
                            <p>Total Expense : {{expenseservice.texp}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>